*{
margin: 0;
 padding: 0;
 background: #000;
}
 input, h1, h4, button{
color:rgb(6, 255, 6);

}
 #one{
border-radius: 5px;
margin-left: 640px;
margin-top: 30px;
 padding: 1%;
}
 button{
 background: #000;
 padding: 1%;
}
 .f1{
font-family:Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
padding-top: 300px;
}
h1{
    text-align: center;
 padding-top: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 #three{
text-align: center;
padding-top: 10px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 }